* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  background-color: #222;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow:scroll;
}

/* Navigation Bar */
nav {
  background-color: #222;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-end;
}    
nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 20px;
  position: relative;
  padding: 5px 0;
  transition: color 0.3s ease;
  font-size: 22px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Navigation Bar Hover Effect */
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
nav a:hover {
  color: #ffffff;
}
nav a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

/* Triangle Cover */
.cover {
  display: left;
  stroke: #000000;        
  stroke-width: 0.5px;
  fill: #414141;
}

/* Title - Solution */
.title-solution {
  position: absolute;
  top: 42%;
  right: 10%;
  text-align: right;
  z-index: 1;
  color: white;
  max-width: 50%;
  font-size: 4rem;
}
.sub-title-solution {
  position: absolute;
  top: 57%;
  right: 10%;
  text-align: center;
  z-index: 1;
  color: white;
  max-width: 50%;
  font-family: monospace;
}

/* Introduction */
.introduction {
  position: absolute;
  top: 75%;
  right: 32.5%;
  max-width: 33%;
  color: #fff;
  font-size: 1.2rem;
  text-align: left;
  font-family: Arial, sans-serif;
  z-index: 1;
}
.Introduction-text {
  position: absolute;
  top: 80%;
  right: 11.2%;
  max-width: 33%;
  color: #fff;
  font-size: 1.2rem;
  text-align: left;
  font-family: Arial, sans-serif;
  z-index: 1;
}

/* Solution 1 */
.Solution1 { 
  position: absolute;
  top: 130%;
  left: 10%;
  max-width: 33%;
  color: #fff;
  font-size: 1.2rem;
  text-align: left;
  font-family: Arial, sans-serif;
  z-index: 1;
}
.Solution1-image {
  position: absolute;
  top: 135%;
  left: 10%;
  width: 33%;
  z-index: 1;
}
.Solution1-text {
  position: absolute;
  top: 188%;
  left: 10%;
  max-width: 33%;
  color: #fff;
  font-size: 1.2rem;
  text-align: left;
  font-family: Arial, sans-serif;
  z-index: 1;
}

/* Solution 2 */
.Solution2 {
  position: absolute;
  top: 130%;
  right: 10%;
  max-width: 33%;
  color: #fff;
  font-size: 1.2rem;
  text-align: right;
  font-family: Arial, sans-serif;
  z-index: 1;
}
.Solution2-image {
  position: absolute;
  top: 135%;
  left: 57%;
  z-index: 1;
  width: 33%;
}
.Solution2-text {
  position: absolute;
  top: 188%;
  right: 10%;
  max-width: 33%;
  color: #fff;
  font-size: 1.2rem;
  text-align: left;
  font-family: Arial, sans-serif;
  z-index: 1;
}

/* Solution 3 */
.Solution3 {
  position: absolute;
  top: 225%;
  right: 30.5%;
  max-width: 50%;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  font-family: Arial, sans-serif;
  z-index: 1;
}
.Solution3-image {
  position: absolute;
  top: 230%;
  left: 35%;
  z-index: 1;
  width: 33%;
}
.Solution3-text {
  position: absolute;
  top: 278%;
  right: 32%;
  max-width: 33%;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  font-family: Arial, sans-serif;
  z-index: 1;
}

/* Back to top */
.back-to-top {
  transition: transform 0.3s cubic-bezier(.68,-0.55,.27,1.55), color 0.3s;
  display: inline-block;
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
  margin-top: 2rem;
  position: absolute;
  top: 280%;
  right: 1%;
  
}

.back-to-top:hover {
  transform: translateY(-8px) scale(1.15) rotate(-8deg);
  color: #a1a1a1;
}

/* Mobile Support */
@media all and (max-width: 768px) {
.cover {
  display: none;
}

/* Navigation Bar */
nav {
  flex-direction: column;
  text-align: center;
}

/* Title */
.title-solution {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
  max-width: 90%;
  text-align: center;
  z-index: 1;
}
.title-solution h1 {
  font-size: 3rem;
}
.sub-title-solution {
  position: absolute;
  top: 60%;
  right: 6%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 1;
  color: white;
  max-width: 90%;
  font-family: monospace;
  font-size: 1rem;
}

/* Introduction */
.introduction {
  position: absolute;
  top: 80%;
  right: 43%;
  max-width: 35%;
  color: #fff;
  font-size: 1.3rem;
  text-align: left;
  font-family: Arial, sans-serif;
  z-index: 1;
}
.Introduction-text {
  position: absolute;
  top: 85%;
  right: 0%;
  max-width: 100%;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  font-family: Arial, sans-serif;
  z-index: 1;
}

/* Solution 1 */
.Solution1 {
  position: absolute;
  top: 120%;
  left: 10%;
  max-width: 80%;
  color: #fff;
  font-size: 1.2rem;
  text-align: left;
  font-family: Arial, sans-serif;
z-index: 1;
}
.Solution1-image {
  position: absolute;
  top: 127%;
  left: 10%;
  width: 80%;
  z-index: 1;
}
.Solution1-text {
  position: absolute;
  top: 156%;
  left: 10%;
  max-width: 80%;
  color: #fff;
  font-size: 1.2rem;
text-align: center;
font-family: Arial, sans-serif;
z-index: 1;
}

/* Solution 2 */
.Solution2 {
  position: absolute;
  top: 210%;
  left: 10%;
  max-width: 80%;
  color: #fff;
  font-size: 1.2rem;
  text-align: left;
  font-family: Arial, sans-serif;
  z-index: 1;
}
.Solution2-image {
  position: absolute;
  top: 218%;
  left: 10%;
  width: 80%;
  z-index: 1;
}
.Solution2-text {
  position: absolute;
  top: 248%;
  left: 10%;
  max-width: 80%;
  color: #fff;
  font-size: 1.2rem;
text-align: center;
font-family: Arial, sans-serif;
z-index: 1;
}

/* Solution 3 */
.Solution3 {
  position: absolute;
  top: 280%;
  left: 10%;
  max-width: 80%;
  color: #fff;
  font-size: 1.2rem;
  text-align: left;
  font-family: Arial, sans-serif;
  z-index: 1;
}
.Solution3-image {
  position: absolute;
  top: 305%;
  left: 10%;
  width: 80%;
  z-index: 1;
}
.Solution3-text {
  position: absolute;
  top: 333%;
  right: 10%;
  max-width: 80%;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  font-family: Arial, sans-serif;
  z-index: 1;
}

/* Back to top */
.back-to-top {
  transition: transform 0.3s cubic-bezier(.68,-0.55,.27,1.55), color 0.3s;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
  margin-top: 2rem;
  position: absolute;
  top: 360%;
  right: 14%;
}
}