* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
  
body {
background-color: #222;
margin: 0;
font-family: Arial, sans-serif;
overflow:scroll;
  }


nav {
background-color: #222;
padding: 1rem 2rem;
display: flex;
justify-content: flex-end;
     
}
    
nav a {
color: rgb(255, 255, 255);
text-decoration: none;
margin: 0 20px;
position: relative;
padding: 5px 0;
transition: color 0.3s ease;
font-size: 22px;
font-family:Verdana, Geneva, Tahoma, sans-serif
}
    
nav a::after {
content: "";
position: absolute;
left: 0;
bottom: 0;
height: 2px;
width: 100%;
background-color: #ffffff;
transform: scaleX(0);
transform-origin: center;
transition: transform 0.3s ease;
}
    
nav a:hover {
color: #ffffff;
}
    
nav a:hover::after {
transform: scaleX(1);
transform-origin: center;
    }

.cover {
display: left;
stroke: #000000;        
stroke-width: 0.5px;
fill: #444;
}

.title-Causes {
    position: absolute;
    top: 42%;
    right: 10%;

    text-align: right;
    z-index: 1;
    color: white;
    max-width: 50%;
    font-size: 4rem
  }
  .sub-titlecauses {
    position: absolute;
    top: 57%;
    right: 10%;
    text-align: center;
    z-index: 1;
    color: white;
    max-width: 50%;
    font-family:monospace
  }

  .introduction {
position: absolute;
top: 75%;
right: 32.5%;
max-width: 33%;
color: #fff;
font-size: 1.2rem;
text-align: left;
font-family: Arial, sans-serif;
z-index: 1;
}
.Introduction-text {
position: absolute;
top: 80%;
right: 11.2%;
max-width: 33%;
color: #fff;
font-size: 1.2rem;
text-align: left;
font-family: Arial, sans-serif;
z-index: 1;
}