* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
  
body {
background-color: #222;
margin: 0;
font-family: Arial, sans-serif;
overflow:scroll;
}
    
nav {
background-color: #222;
padding: 1rem 2rem;
display: flex;
justify-content: flex-end;
     
}
    
nav a {
color: rgb(255, 255, 255);
text-decoration: none;
margin: 0 20px;
position: relative;
padding: 5px 0;
transition: color 0.3s ease;
font-size: 22px;
font-family:Verdana, Geneva, Tahoma, sans-serif
}
    
nav a::after {
content: "";
position: absolute;
left: 0;
bottom: 0;
height: 2px;
width: 100%;
background-color: #ffffff;
transform: scaleX(0);
transform-origin: center;
transition: transform 0.3s ease;
}
    
nav a:hover {
color: #ffffff;
}
    
nav a:hover::after {
transform: scaleX(1);
transform-origin: center;
    }

.cover {
display: left;
stroke: #000000;        
stroke-width: 0.5px;
fill: #444;
}

.sub-titlesolutions {
    position: absolute;
    top: 60%;
    right: 6%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 1;
    color: white;
    max-width: 90%;
    font-family: monospace;
    font-size: 2rem;
  }
