* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #222;

    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
  }
  
  nav {
    background-color: #222;
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-end;
   
  }
  
  nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 20px;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  
  nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  
  nav a:hover {
    color: #ffffff;
  }
  
  nav a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
  }

h1 {
  text-align:center;

  color: white;
  
}

h4 {
  color: white;
  text-align: center;
}



@media all and (max-width: 768px) {

  nav {
    flex-direction: column;
    text-align: center;
  }

  nav a {
    flex-direction: column;
    text-align: center;
  } 

  h1 {
    font-size: 1rem;
  }
}